### Calculations of energy use in peaker plants to determine percentage of energy consumption that could be displaced if replaced with a cleaner grid energy alternative, flow batteries

#### States included in analysis (Data from https://www.psehealthyenergy.org/our-work/energy-storage-peaker-plant-replacement-project/
- Florida
- Massachusetts
- Nevada
- New Jersey
- New Mexico
- New York
- Texas
- California
- Arizona

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Import all peaker plant data into pandas dataframes

In [14]:
df_FL = pd.read_csv('California.csv')
df_NV = pd.read_csv('Nevada.csv')
df_NJ = pd.read_csv('New-Jersey.csv')
df_NM = pd.read_csv('New-Mexico.csv')
df_NY = pd.read_csv('New-York.csv')
df_TX = pd.read_csv('Texas.csv')
df_CA = pd.read_csv('California.csv')
df_AZ = pd.read_csv('Arizona.csv')

### important peaker plant characteristics necessary for analysis are:
- MW
- Capacity Factor
- Nox_lbs/MWh
- Population

In [15]:
df_FL.head()

,Name (EIA ID),Status,County,Fuel,MW,Local_reliability_area,Age,Capacity_Factor,Run_hours/start,Heat_rate_MMBtu/MWh,...,Nox_lbs/MWh,MWh_high_ozone_days,Pop.,percent_non-white,percent_low-income,CEW,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Agua Mansa (-55951),Operating,San Bernardino,Natural gas,61,LA Basin,16.0,1.80%,8,9.8,...,0.17,59%,"67,236",82%,20%,98*,NaN,NaN,NaN,NaN
1,Alameda (7450),Operating,Alameda,Natural gas,50,Greater Bay Area,33.0,2.00%,NaN,15.9,...,NaN,NaN,"141,999",71%,22%,74,NaN,NaN,NaN,NaN
2,Alamitos (315),Operating; retirement proposed,Los Angelos,Natural gas,1970,LA Basin,63.0,5.50%,163,12.3,...,0.11,54%,"119,565",32%,10%,95*14,NaN,NaN,NaN,NaN
3,Almond Power Plant (7315),Operating,Stanislaus,Natural gas,223,NaN,24.0,8.40%,18.9,9.8,...,0.10,%,"52,274",75%,26%,81*,NaN,NaN,NaN,NaN
4,Anaheim CT (7693),Operating,Orange,Natural gas,49,LA Basin,28.0,12.30%,7.7,9.5,...,0.20,35%,"169,119",63%,14%,75*,NaN,NaN,NaN,NaN

In [20]:
df_arr = [df_FL,df_NV,df_NJ,df_NM,df_NY,df_TX,df_CA,df_AZ] #array of all dataframes

In [31]:
for df in df_arr:
    print('there are {} columns'.format(df.shape[1]))

there are 21 columns
there are 16 columns
there are 17 columns
there are 16 columns
there are 18 columns
there are 18 columns
there are 21 columns
there are 16 columns

In [33]:
df_FL.head()

,Name (EIA ID),Status,County,Fuel,MW,Local_reliability_area,Age,Capacity_Factor,Run_hours/start,Heat_rate_MMBtu/MWh,...,Nox_lbs/MWh,MWh_high_ozone_days,Pop.,percent_non-white,percent_low-income,CEW,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Agua Mansa (-55951),Operating,San Bernardino,Natural gas,61,LA Basin,16.0,1.80%,8,9.8,...,0.17,59%,"67,236",82%,20%,98*,NaN,NaN,NaN,NaN
1,Alameda (7450),Operating,Alameda,Natural gas,50,Greater Bay Area,33.0,2.00%,NaN,15.9,...,NaN,NaN,"141,999",71%,22%,74,NaN,NaN,NaN,NaN
2,Alamitos (315),Operating; retirement proposed,Los Angelos,Natural gas,1970,LA Basin,63.0,5.50%,163,12.3,...,0.11,54%,"119,565",32%,10%,95*14,NaN,NaN,NaN,NaN
3,Almond Power Plant (7315),Operating,Stanislaus,Natural gas,223,NaN,24.0,8.40%,18.9,9.8,...,0.10,%,"52,274",75%,26%,81*,NaN,NaN,NaN,NaN
4,Anaheim CT (7693),Operating,Orange,Natural gas,49,LA Basin,28.0,12.30%,7.7,9.5,...,0.20,35%,"169,119",63%,14%,75*,NaN,NaN,NaN,NaN

In [32]:
df_NV.head()

,Name (EIA ID),Status,County,Fuel,MW,Age,Capacity_Factor,Run_hours/start,Heat_rate_MMBtu/MWh,CO2_tons/MWh,Nox_lbs/MWh,MWh_high_ozone_days,Pop.,percent_non-white,percent_low-income,CVI
0,Clark (GT unit) 12(2322),Operating,Clark,Natural gas,797,47,4.70%,6.7,10.8,0.6,0.3,7.70%,"133,802",55%,37%,222.0
1,Harry Allen13 (-7082),Operating,Clark,Natural gas,187,25,4.80%,7.7,11.7,0.7,0.3,4.80%,0,NaN,NaN,NaN
2,Sun Peak Generating Station (54854),Operating,Clark,Natural gas,222,29,1.30%,5.4,12.8,0.8,1.8,10.50%,"137,033",70%,46%,235.0
3,Tracy (GT unit) 14(2336),Operating,Storey,Natural gas,170,59,8.40%,13.1,13.0,0.8,0.4,6.80%,16,14%,15%,53.0
4,Tracy (steam unit) 15(2336),Operating,Storey,Natural gas,120,57,10.30%,39.1,11.5,0.7,1.6,5.70%,16,14%,15%,53.0

In [34]:
df_NJ.head()

,Name (EIA ID),Status,County,Fuel,MW,Load,Age,Capacity_Factor,Run_hours/start,Heat_rate_MMBtu/MWh,CO2_tons/MWh,Nox_lbs/MWh,MWh_high_ozone_days,Pop.,percent_non-white,percent_low-income,CVI
0,Burlington,Operating,Burlington,Natural,242.0,PSEG,53.0,2.00%,3.8,9.8,0.6,1.0,7.90%,"75,794",48%,28%,214
1,Generating,NaN,NaN,gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-60,-65,NaN
2,Station (2399),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Carllâ€™s Corner,Operating,Upper,Natural,84.0,AECO,47.0,1.80%,5.8,24.3,1.5,17.8,3.90%,"25,279",69%,51%,202
4,-2379,NaN,Deerfield,gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-74,-87,NaN

In [36]:
df_CA.columns

Index(['Name (EIA ID)', 'Status', 'County', 'Fuel', 'MW',
       'Local_reliability_area', 'Age', 'Capacity_Factor', 'Run_hours/start',
       'Heat_rate_MMBtu/MWh', 'CO2_tons/MWh', 'Nox_lbs/MWh',
       'MWh_high_ozone_days', 'Pop.', 'percent_non-white',
       'percent_low-income', 'CEW', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [39]:
dropcols = ['Status', 'Age','Run_hours/start','percent_non-white','percent_low-income']

In [61]:
### DOESN"T AFFECT ORIGINALS...UNLESS INPLACE = TRUE

for df in df_arr:
    df.drop(columns = dropcols,inplace = True)

KeyError: "['Status' 'Age' 'Run_hours/start' 'percent_non-white' 'percent_low-income'] not found in axis"

In [62]:
df_FL

,Name (EIA ID),County,Fuel,MW,Local_reliability_area,Capacity_Factor,Heat_rate_MMBtu/MWh,CO2_tons/MWh,Nox_lbs/MWh,MWh_high_ozone_days,Pop.,CEW,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Agua Mansa (-55951),San Bernardino,Natural gas,61,LA Basin,1.80%,9.8,0.58,0.17,59%,"67,236",98*,NaN,NaN,NaN,NaN
1,Alameda (7450),Alameda,Natural gas,50,Greater Bay Area,2.00%,15.9,NaN,NaN,NaN,"141,999",74,NaN,NaN,NaN,NaN
2,Alamitos (315),Los Angelos,Natural gas,1970,LA Basin,5.50%,12.3,0.73,0.11,54%,"119,565",95*14,NaN,NaN,NaN,NaN
3,Almond Power Plant (7315),Stanislaus,Natural gas,223,NaN,8.40%,9.8,0.59,0.10,%,"52,274",81*,NaN,NaN,NaN,NaN
4,Anaheim CT (7693),Orange,Natural gas,49,LA Basin,12.30%,9.5,0.57,0.20,35%,"169,119",75*,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,Panoche (55874),NaN,gas,NaN,Fresno,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,Wolfskill Energy,Solano,Natural,48,NaN,3.40%,11.2,0.67,0.20,9%,"30,608",73,NaN,NaN,NaN,NaN
123,Center (55855),NaN,gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,Yuba City Energy,Sutter,Natural,48,Sierra,7.90%,11.7,NaN,NaN,NaN,"72,282",67,NaN,NaN,NaN,NaN
125,Center (55813),NaN,gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Now, with dropped columns, need to remove plants with missing relevant data
- dropNA IF missing MW, Capacity Factor,

In [68]:
#drop row if missing information in specific column
# save number of rows before dropping
numRows = []
for df in df_arr:
    numRows.append(df.shape[0])
numRows

[51, 5, 36, 28, 124, 198, 126, 19]

In [88]:
subsetCols = ['MW','Capacity_Factor','CO2_tons/MWh','Heat_rate_MMBtu/MWh','Nox_lbs/MWh']

In [89]:
numRowsAfter = []
for df in df_arr:
    df.dropna(subset = subsetCols, axis = 0, inplace = True)
    numRowsAfter.append(df.shape[0])
numRowsAfter

[50, 5, 15, 11, 49, 59, 50, 16]

In [90]:
numRowsRemoved = []
for i in range(len(numRows)):
    numRowsRemoved.append(numRows[i]-numRowsAfter[i])

numRowsRemoved

[1, 0, 21, 17, 75, 139, 76, 3]

In [91]:
#Total # of peaker plants analyzed 
print(sum(numRowsAfter))

255

### Moving on to calculations
- CO2 consumption per plant = 
- Heat